@use "../../styles/variables" as v;

.main {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: v.$blue;
    color: v.$white;
    border-radius: 5px;
    height: 45px;
    width: 100px;
    cursor: pointer;
    transition: background-color ease 0.3s;
    &:hover {
        background-color: v.$dark-blue;
    }
}