@use "../../styles/variables" as v;
@use "../../styles/mixins" as m;

.main {
    min-height: 75px;
    background-color: v.$gray;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: v.$dark-gray;
    
    a {
        transition: color ease 0.3s;
        &:hover {
            color: v.$black;
        }
    }
}