@use "./variables" as v;
@use "./styles/mixins" as m;

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  background-color: #f7f7f7;
}

a {
  color: inherit;
  text-decoration: none;
  color: v.$blue;
}

* {
  box-sizing: border-box;
}

.centerMobile {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  @include m.desktop() {
    align-items: flex-start;
    justify-content: flex-start;
  }
}

.main {
  color: v.$black;
  padding: 2rem 1rem;

  @include m.desktop() {
    padding: 2rem 12rem;
  }

  h1 {
    font-size: 3rem;
  }

  span {
    display: flex;
    flex-direction: row;
    align-items: center;

    svg {
      fill: v.$blue;
      filter: drop-shadow(0 4px 14px rgba(0, 118, 255, .39));
      font-size: 2rem;

      @include m.desktop() {
        font-size: 2.5rem;
      }
    }
  }

  h2 {
    font-size: 1.5rem;

    @include m.desktop() {
      font-size: 2rem;
    }
  }

  p {
    color: v.$dark-gray;
    line-height: 1.75;

    @include m.desktop() {
      width: 100%;
    }
  }

  ul {
    color: v.$dark-gray;
  }
}

// @media (prefers-color-scheme: dark) {
//   html {
//     color-scheme: dark;
//   }
//   body {
//     color: white;
//     background: #333;
//   }
// }