@use "./variables" as v;
@use "./styles/mixins" as m;

.heroContainer {
    background-color: v.$light-gray;
    height: calc(100vh - v.$nav-height - 75px); // 75px from the marquee
    position: relative;

    .heroText {
        position: relative;
        margin: 0;
        top: 15%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        h1 {
            color: v.$black;
            text-align: center;
            font-size: 3.5em;
            margin: 0;
        }

        p {
            color: v.$dark-gray;
            text-align: center;
            font-size: 1.25em;
        }

        span {
            animation-duration: 0.75s;
            animation-name: showOff;
            animation-iteration-count: 1;
            animation-direction: alternate;
            animation-delay: 0.5s;

            &:nth-child(2) {
                animation-delay: 1.5s;
            }

            &:nth-child(3) {
                animation-delay: 2.5s;
            }
        }

        @include m.desktop() {
            position: absolute;
            display: block;
            top: 25%;
            left: 5%;

            h1,
            p {
                text-align: left;
            }
        }
    }
}

@keyframes showOff {
    from {
        color: v.$dark-gray;
        font-size: 1em;
    }

    50% {
        font-size: 1.25em;
        color: v.$blue;
    }

    to {
        color: v.$dark-gray;
        font-size: 1em;
    }
}

@keyframes showOffRepeat {
    from {
        color: v.$dark-gray;
        font-size: 1em;
    }

    50% {
        font-size: 1.25em;
        color: v.$blue;
    }

    to {
        color: v.$dark-gray;
        font-size: 1em;
    }
}

.grayContainer,
.whiteContainer {
    min-height: 50vh;
    width: 100%;

    h2 {
        margin: 0;
        color: v.$black;
        font-size: 2.5em;
    }

    div {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 2em 1em;
    }

    .serviceIcons {
        flex-direction: row;
        justify-content: space-around;
        svg {
            height: 70px;
            width: auto;
            fill: v.$blue;
            filter: drop-shadow(0 4px 14px rgba(0,118,255,.39));
            @include m.desktop() {
                height: 90px;
            }
        }
    }

    p {
        color: v.$dark-gray;
        line-height: 1.75;
        text-align: center;

        @include m.desktop() {
            width: 50%;
            line-height: 2;
        }
    }
}

.grayContainer {
    background-color: v.$light-gray;
}

.whiteContainer {
    background-color: v.$white;
}